<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/herostyles.css" />
  </head>
  <body>
    <main>
      <section class="hero">
        <h1>Embassy of the free mind</h1>
        <p>Ga op ontdekkingsreis door 2.000 jaar verzamelde wijsheid, geïnspireerd door de afbeeldingen en teksten uit de collectie van de Bibliotheca Philosophica Hermetica.</p>
        <img
          src="../assets/INCORPORATE_I-min.jpeg"
          alt="Image of book laying on a wooden table"
          class="hero-img"
        />
        <ul>
          <li>123, Keizersgracht</li>
          <li>Wen. to Sat. 10.00-17.00h</li>
          <li><img src="../assets/arrow-pointing-down.svg" alt="arrow pointing down, indicating to scroll"></li>
          <li>NL - 1015 CJ Amsterdam</li>
          <li>Sun. 11.00-18.00h</li>
        </ul>
        <a href="#">Visit us</a>
      </section>
    </main>
  </body>
</html>
