<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button popovertarget="my-popover1">
              Probable sources of the numbers on which Jabirian alchemy was
              based
            </button>
            <section popover id="my-popover1">
              <h2>Test</h2>
              <img
                src="assets/book-img-placeholder.png"
                alt="image of the digitalized version of the book"
              />
              <p>Genre is: book</p>
            </section>
          </td>
          <td>Frank, Benjamin</td>
          <td>1930</td>
        </tr>
        <tr>
          <td>
            <button popovertarget="my-popover2">
              Clef de la comédie anti-catholique de Dante Alighieri Pasteur de
              l'Église albigeoise dans la ville de Florence, affilié à l'Ordre
              du Temple, donnant l'explication du langage symbolique des fidèles
              d'amour dans les compositions lyriques romans et époées
              chevaleresques des troubadours
            </button>
            <section popover id="my-popover2">
              <h2>Test</h2>
              <img
                src="assets/book-img-placeholder.png"
                alt="image of the digitalized version of the book"
              />
              <p>Genre is: Roman</p>
            </section>
          </td>
          <td>Frank, Benjamin</td>
          <td>1856</td>
        </tr>
        <tr>
          <td>
            <button popovertarget="my-popover3">
              Das Buch vom lebendigen Gott
            </button>
            <section popover id="my-popover3">
              <h2>Test</h2>
              <img
                src="assets/book-img-placeholder.png"
                alt="image of the digitalized version of the book"
              />
              <p>Genre is: Fiction</p>
            </section>
          </td>
          <td>Frank, Benjamin</td>
          <td>1981</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
