* {
    box-sizing: border-box;
}

.hero {
    margin-inline: 1rem;

    h1 {
        font-size: clamp(2rem, 10vw, 10rem);
    }

    p {
        max-width: 24rem;
        line-height: 1.4;
    }

    .hero-img {
        width: 100%;
    }

    ul {
        margin-block: 1rem;
        padding: 0;
        list-style: none;

        @media (width > 468px) {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        li:nth-of-type(1),
        li:nth-of-type(2) {
            @media (width > 468px) {
                grid-column: 1 / 5;
            }
        }

        li:nth-of-type(4),
        li:nth-of-type(5) {
            @media (width > 468px) {
                grid-column: 6 / 10;
                text-align: end;
            }
        }

        li:nth-of-type(4) {
            @media (width > 468px) {
                grid-row: 1 / 2;
            }
        }

        li {
            margin-block: 0.5rem;

            >img {
                display: none;
            }

        }


    }

    a {
        background-color: blue;
        color: white;
        padding: 0.75rem 5rem;
        border-radius: 5rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-content: center;

        @media (width > 468px) {
            max-width: 25rem;
            margin: auto;
            }
    }
}




.flying-button {
    position: fixed;
    bottom: 1rem;
    left: 1.5rem;
    z-index: 1;
    padding: 1rem 6rem 1rem 2rem;
    border: 3px solid gray;
    border-radius: 5rem;
    background-image: url(../assets/chevron-right.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    color: black;
    background-color: white;
    text-decoration: none;
}