:root {
    --color-blue: #002544;
    --color-gray: #676767;
    --color-light-gray: #EFEFEF;

    interpolate-size: allow-keywords;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-blue);
}

/* Grid items */

summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.7rem 1.5rem;

    @media (width > 1279px) {
        grid-template-columns: repeat(4, 1fr);
        transition: 0.2s;
    }
}

summary:hover {
    @media (any-pointer: fine) {
        scale: 1.01;
        transition: 0.2s;
        cursor: pointer;
    }
}

summary:nth-of-type(odd) {
    background-color: var(--color-light-gray);
}

summary h4 {
    grid-column: span 2;
}

summary p:first-of-type {
    display: none;
    align-self: center;

    @media (width > 1279px) {
        display: block;
        margin-left: 2rem;
    }
}

summary p:last-of-type {
    text-align: end;
    align-self: center;
}



/* Grid titles */


.grid-template {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.8rem;
    margin: 1rem 0;
    padding: 0 1.5rem;
    color: var(--color-gray);

    @media (width > 1279px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.author-template {
    display: none;

    @media (width > 1279px) {
        display: block;
        margin-left: 2rem;
    }
}

.grid-template p:first-of-type {
    grid-column: span 2;
}
.grid-template p:last-of-type {
    text-align: end;
}



/* Expendable info section */

details {
    transition: 1s;
}

details[open] {
    transition: 1s;
    summary, .grid-template {
        filter: blur(10px);
    }
}

section div:first-of-type {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem 2rem;
    border-bottom: 1px solid var(--color-blue);
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 50%;
    transition: 1s;
}
