:root {
    --color-gray: #676767;
    --color-blue: #002544;

    interpolate-size: allow-keywords;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    color: var(--color-blue);
    margin: 1.5rem;
}

section {
    margin: 2rem 0;
}

input {
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}

form {
    width: 14.25rem;
    position: relative;
    color: var(--color-gray);
    margin: auto;
}

form > img {
    position: absolute;
    top: 0.7rem;
    right: 5%;
}

img {
    max-width: 10rem;
}

.filter-list {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.filter-list button {
    font-size: 1rem;
}

.filter-list div {
    display: flex;
}

.filter-list button {
    background-color: white;
    border: 0;
}

