/* Mijn gebruikte breakpoints:
350px
468px
672px
789px
1279px
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-blue: #002544;
  interpolate-size: allow-keywords;
}

body {
  font-family: sans-serif;
  color: var(--color-blue);
  line-height: 1.4;
}

.flying-button {
  position: fixed;
  bottom: 2rem;
  left: 1.5rem;
  z-index: 1;
  padding: 1rem 6rem 1rem 2rem;
  border: 2px solid var(--color-blue);
  border-radius: 5rem;
  background-image: url(../assets/chevron-right.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  color: var(--color-blue);
  background-color: white;
  text-decoration: none;
  filter: drop-shadow(0px 0px 6px #5b5b5b43);
}

/* Navigation bar */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  position: sticky;
  top: 0;
  background-color: white;
  align-items: center;
  filter: drop-shadow(0px 1px 6px #828282);
  margin-bottom: 2rem;

  >img {
    z-index: 10;
    width: 16px;

    @media (width > 672px) {
      display: none;
    }
  }

  nav {
    translate: -100%;
    display: none;

    @media (width > 672px) {
      display: flex;
      translate: 0;
    }

    ul {
      @media (width > 672px) {
        display: flex;
      }

      li {
        @media (width > 672px) {
          margin-inline: 1rem;
          list-style: none;
        }

        a {
          @media (width > 672px) {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }

  nav.open {
    position: absolute;
    inset: 0;
    background-color: bisque;
    display: block;
    translate: 0;
    z-index: 5;

    ul {
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      padding: 0;

      li {
        a {
          text-decoration: none;

        }
      }
    }
  }
}

/* Hero section main page */

.hero {
  @media (width > 1279px) {
    display: flex;
    height: 85vh;
    flex-direction: column;
    justify-content: space-between;
  }
}

.hero div:first-of-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;

  @media (width > 672px) {
    margin-bottom: 1rem;
    flex-wrap: nowrap;
  }

  h1 {
    line-height: 90%;
    font-weight: 500;
    font-size: clamp(2rem, 10vw, 10rem);
    max-width: 50rem;
    margin: 0 0 1rem 1rem;

    @media (width > 672px) {
      display: block;
    }

    @media (width > 1279px) {
      width: 50%;
    }
  }

  .hero-img-wrapper {
    width: 100%;
    margin-inline: 1rem;

    @media (width > 1279px) {
      width: 50%;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.opening-info {
  @media (width > 469px) {
    display: flex;
    justify-content: space-between;
  }

  ul:nth-of-type(1),
  ul:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    list-style: none;

    @media (width > 1279px) {
      flex-direction: row;
    }
  }

  ul:nth-of-type(2) {
    @media (width > 468px) {
      text-align: end;
    }
  }

  li {
    margin: 0.25rem 1rem;
  }

  .scroll-indicator {
    align-self: flex-end;

    img {
      display: none;

      @media (width > 1279px) {
        display: block;

        background-color: white;
        border: 1px solid var(--color-blue);
        border-radius: 100%;
        padding: 1rem;

        animation: bounce 1s infinite;
        animation-timing-function: linear(0,
            0.329 8.6%,
            0.541 16%,
            0.615 19.6%,
            0.667 23.2%,
            0.698 26.8%,
            0.708 30.5%,
            0.686 36.1%,
            0.618 42.3%,
            0.229 64.6%,
            0.093 74.8%,
            0.048 80.2%,
            0.018 85.8%,
            0.004 91.9%,
            0);
      }
    }
  }
}

/* Search form */

form {
  @media (width > 350px) {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  input {
    background-image: url("../assets/Search.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;

    margin-block: 0.5rem;

    @media (width > 1279px) {
      width: 30rem;
      background-position: 98% 50%;
    }
  }
}

h1 {
  @media (width > 350px) {
    font-size: clamp(3rem, 5vw, 4rem);
  }

  font-size: 2rem;
  font-weight: 300;
}

h1,
p,
form {
  margin-inline: 1rem;
}

/* Table */

.data-table {
  position: relative;

  .form-info-wrapper {
    h1 {
      margin-bottom: 1rem;
    }

    @media (width > 672px) {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
  }

  p {
    margin-bottom: 1rem;
  }

  >button {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    text-align: left;
    padding: 1rem;
    cursor: pointer;
    border: 0;

    @media (width > 468px) {
      grid-template-columns: 4fr 1fr 1fr;
    }

    span {
      align-self: center;
      max-width: 50vw;
    }

    span:nth-of-type(2) {
      display: none;

      @media (width > 468px) {
        display: block;
      }
    }

    span:last-of-type {
      text-align: right;
    }
  }

  button:hover {
    @media (any-pointer: fine) {
      background-color: rgb(230, 230, 230);
    }
  }

  button:nth-of-type(even) {
    background-color: white;
    border: 0;
  }

  button:nth-of-type(even):hover {
    @media (any-pointer: fine) {
      background-color: rgb(230, 230, 230);
    }
  }

  >ul {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;

    @media (width > 468px) {
      grid-template-columns: 4fr 1fr 1fr;
    }

    li {
      list-style: none;
    }

    li:nth-of-type(2) {
      display: none;

      @media (width > 468px) {
        display: block;
      }
    }

    li:last-of-type {
      text-align: right;
    }
  }
}



/* Books of the month */

.botm-section {
  margin: 5rem 1rem 1rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.botm-wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scrollbar-width: none;

  @media (width > 789px) {
    gap: 2rem;
  }


  a {
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: min-content min-content;
    text-decoration: none;
    color: var(--color-blue);
    scroll-snap-align: start;

    width: 18rem;

    @media (width > 789px) {
      width: 20rem;
    }

    img {
      grid-column: span 2;
      grid-row: 1 / 2;
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    h3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      align-self: center;
      font-size: 1rem;
      margin-top: 1rem;
    }

    .pointer {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: end;
      width: 16px;
      transform: rotate(-90deg);
      margin-top: 1rem;
    }
  }
}


/* Popover */


[popover] {
  transition:
    opacity 0.5s ease-out,
    height 0.5s allow-discrete,
    scale 0.5s ease,
    display 0.5s allow-discrete;


  opacity: 0;
  height: 0;
  scale: 0;
  backdrop-filter: blur(0);
  background-color: rgba(101, 101, 101, 0);
  overflow: hidden;
  transform-origin: bottom center;

  position: fixed;
  inset: auto;
  left: 0;
  bottom: 0;
  background-color: #f4f4f4;
  padding: 1rem;
  border: 0;
  width: 100vw;
  height: max-content;
  overflow: hidden;

  h2 {
    font-size: 1rem;
    font-weight: 400;
    padding-block: 1.5rem;
  }

  p {
    font-size: 1.1rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    margin: 0;
  }

  ul {
    margin-bottom: 2rem;
    justify-self: left;

    @media (width > 789px) {
      justify-self: center;
    }

    li {
      list-style: none;
      margin-block: 0.2rem;
    }

    li:last-of-type {
      margin-bottom: 1rem;
    }
  }

  .popover-cta-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 1rem;

    @media (width > 789px) {
      justify-content: end;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    img {
      width: 15rem;
      height: 20rem;
    }

    a {
      background-color: var(--color-blue);
      color: white;
      height: max-content;
      width: max-content;
      padding: 1.2rem 3rem;
      text-decoration: none;
      justify-self: end;
    }
  }

  @media (width > 789px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .popover-cta-wrapper {
      display: grid;
      justify-content: end;
    }
  }

  .popover-heading-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--color-blue);
    margin-bottom: 2rem;
    height: max-content;
    grid-column: 1 / -1;

    >button {
      border: 0;
      background-color: #f4f4f4;

      @media (any-pointer: fine) {
        cursor: pointer;
      }
    }
  }
}


[popover]:popover-open {
  /* 
  animation: open 0.5s forwards;
  transform-origin: bottom center;
  overflow: hidden; */

  opacity: 1;
  scale: 1;

  @starting-style {
    opacity: 0;
    height: 0;
    scale: 0;
  }

}

.popover-grid-container {
  display: grid;

  @media (width > 789px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}


[popover]::backdrop {
  animation: backdrop-open 1s forwards;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(1rem);
  }
}


@keyframes backdrop-open {
  from {
    backdrop-filter: blur(0px);
    background-color: rgba(101, 101, 101, 0);
  }

  to {
    backdrop-filter: blur(10px);
    background-color: rgba(101, 101, 101, 0.283);
  }
}